table {
    margin: auto;
    border: 2px solid #777;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 1rem;
    width: 70%;
    
}
table tr.thead {
    width: 100%;
    position: sticky;
    top: 0;
    background-color:black;
    color:#fff;
   height:1.1rem;
}
/*table tr.thead td{border white 2px solid;}*/
table tr.thead td{
    border: 2px solid white;
  }
  
caption {
    background-color: rgb(117, 108, 51);
    color: #fff;
    font-weight: bold;
    width: 100%;
}
   

table thead tr th {
    background-color: #444;
    color: #fff;
    text-align: center;
    
    padding: 2px 5px;
    border: solid 2px white;
    width: 100%;
}

table tr td img.icon {
    height: 40px;
    border-radius: 50%;
    border: inset 2px;
}

table tr.impar td {
    background-color: rgb(111, 166, 150);
    color: #000;
    padding: 2px 5px;
    border: solid 2px #999;
    padding: 2px 5px;
}

table tr.par td {
    background-color: rgb(237, 203, 214);
    color: #000;
    border: solid 2px #999;
    padding: 2px 5px;
    ;
}

table tr:hover td {
    background-color: rgb(200, 240, 210);
}

table caption {
    width: 100%;
}